@model IEnumerable<Ejemplo.Models.Ca_AccionesProcesales>

@{
    ViewBag.Title = "ListaSubEtapasI";
    Layout = null;
}

    <table id="tableOne" class="yui table table-bordered" width="100%" style="margin: 1% auto;" >
        <thead class="cabecera_tabla">
        <tr>
@*            <td class="tableHeader" colspan="2">
                   
                </td>*@
            </tr>
        <tr>
@*        <th>
            Sub Etapas
        </th>*@
        @*<th>
            Descripci&oacute;n
        </th>*@
        <th>
            Descripci&oacute;n
        </th>
        <th>Fecha de actualización</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr id="@item.id_AccionProcesal">
       @*<td>
            @Html.DisplayFor(modelItem => item.Id_Etapa_Procesal)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Id_SubEtapa_Procesal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_AccionProcesal)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Usu_Act)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Act)
        </td>
        <td>
            @Html.ActionLink(" ", "EditarSubEtapa", new {  id_Accion=item.id_AccionProcesal},new { @class = "ajax cboxElement fa fa-pencil-square-o"})
            @Html.ActionLink(" ", "EliminarAccion", new { id_Accion=item.id_AccionProcesal },new { @class = "eliminarAccion fa fa-trash-o"})
            @Html.ActionLink(" ", "DetallesSubEtapas", new {id_Accion=item.id_AccionProcesal},new { @class = "ajax cboxElement  fa fa-bars"})
        </td>
    </tr>
}
        </tbody>
        <tfoot>
            <tr>
			<th>Filtrar Por : &nbsp;<input type="text" name="" value="Descripcion" class="search_init"></th>
            <th><div style="display:none">Filtrar por : &nbsp;<input type="text" name="" value="Descripcion" class="search_init" /></div>
			</th>
		</tr>
        </tfoot>
</table>
@section scripts {
    <link href="~/Content/css/estilo.css" rel="stylesheet" />
    <link href="~/Content/colorbox/colorbox.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#EditarAccionProcesal").live('submit', function (e) {
                e.preventDefault();
            });
            
            ConstruirTabla();
            $(".ajax").colorbox();
            $(".ajax_nueva_accion").colorbox();
            $('.eliminarAccion').live('click', function (e) {
                e.preventDefault();
                if (confirm("¿Estás seguro de eliminar esta Sub-Etapa ?")) {
                    var url = $(this).attr('href');
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (data) {
                            if (data.Exito == true) {
                                alert("Acción eliminada con éxito");
                                window.open("/Acciones/ListaSubEtapas", "_self");
                            } else
                                alert("Error al eliminar la acción");
                        }, error: function (data) {
                            alert("No se puede eliminar la acción");
                        }
                    });
                } else
                    return false;
            });
        });
        function ConstruirTabla() {
            var table;
            var asInitVals = new Array();
            table = $("#tableOne").dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 5,
                "aLengthMenu": [[5, 10, 15, 20, 25, 50, 100, -1], [5, 10, 15, 20, 25, 50, 100, "Todos"]]
            });
            $("tfoot input").keyup(function () {
                table.fnFilter(this.value, $("tfoot input").index(this));
            });
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });
            $("tfoot input").focus(function () {
                if ($("tfoot input").hasClass("search_init")) {
                    this.className = "";
                    this.value = "";
                }
            });
            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });
        }
    </script>        
}
